
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  text-shadow: 0 1px 0 #fff;
  text-align: center;
  background-color: #000;
  background-image: url('../images/bg.gif');
}
pre {
  color: #EAF2D9;
  text-shadow: none;
  background-color: #191919;
  padding:15px;
  border-radius: 5px;
  border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-border-radius: 5px;
	font-size: 1.1em;
	margin-top: 10px;
	box-shadow: 5px 5px 3px #888;
	-moz-box-shadow: 5px 5px 3px #888;
	-webkit-box-shadow: 5px 5px 3px #888;
}
h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}
h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: normal;
  font-size: 1.1em;
}
h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 1.2em;
}
img {
  border: none;
}
#wrap {
  margin: 30px auto;
  text-align:left;
  width: 640px;
}

#header {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 10px;
  background-color: #aaa;
  padding: 20px;
  border-bottom: solid 1px #999;
}
#menu {
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #666;
  padding: 10px;
  background-color: #70898F;
  height: 18px;
  margin: 0px;
}
#menu a {
  color: white;
  text-shadow: 0 -1px 0 #000;
  text-decoration: none;
}
#content {
  border-top: solid 1px #ddd;
  background-color: #ccc;
  padding: 20px;
}
#footer {
  background-color: #ccc;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
  padding: 20px;
}
#menu ul {
  margin: 0px;
  padding: 0px;
}

#menu li {
  margin-left: 20px;
  list-style: none;
  float: left;
}

#content a:link, #content a:visited, #content a:active, #content a:hover {
  color: #A90000;
  font-weight: bold;
  text-decoration: none;
}
.section {
  margin-bottom: 40px;
}
.clear {
  clear: both;
}

#nodejs {
  text-align: center;
}

/* hijs styles */
code .keyword               { font-weight: bold; color: #C2A770; }
code .string, code .regexp  { color: #B5C587 }
code .class, code .special  { color: #669199 }
code .number                { color: #A33D29 }
code .comment               { color: #555555 }
